In [24]:
# Install a pip comtradeapicall package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install --upgrade comtradeapicall

Requirement already satisfied: comtradeapicall in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (1.2.1)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
# Install a pip pandas package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (2.1.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\janfearn\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [95]:
import pandas as pd
import requests
import comtradeapicall

In [96]:
subscription_key = '<YOUR KEY>' # comtrade api subscription key (from comtradedeveloper.un.org)

In [97]:
#set some variables
from datetime import date
from datetime import timedelta
today = date.today()
yesterday = today - timedelta(days=1)
lastweek = today - timedelta(days=7)

In [5]:
# Call preview final data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code 91 in classic mode in May 2022

In [ ]:
# mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='A', clCode='HS', period='2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023',
#                                     reporterCode=all, cmdCode='8534, 853400, 8541, 854110, 854121, 854129, 854130, 854140, 854150, 854160, 854190, 8542, 854231, 854232, 854233, 854239, 854290, 854141, 854142, 854143, 854149, 854151, 854159', flowCode='M,X',
#                                     partnerCode=None, partner2Code=None, customsCode=None, motCode=None, maxRecords=50000, format_output='CSV',
#                                     aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [53]:
# mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='A', clCode='HS', period='2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023',
#                                     reporterCode=None, cmdCode='8534,853400,8541,854110,854121,854129,854130,854140,854150,854160,854190,8542,854231,854232,854233,854239,854290,854141,854142,854143,854149,854151,854159', flowCode='M,X',
#                                     partnerCode=None, partner2Code=None, customsCode=None, motCode=None, maxRecords=50000, format_output='JSON',
#                                     aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [98]:
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='A', clCode='HS', period='2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023',
                                    reporterCode=None, cmdCode='8534,8541,854110,854121,854129,854130,854140,854150,854160,854190,8542,854231,854232,854233,854239,854290,854141,854142,854143,854149,854151,854159', flowCode='M,X',
                                    partnerCode='0', partner2Code='0', customsCode='C00', motCode='0', format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [99]:
mydf

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20130101,2013,52,2013,8,ALB,Albania,M,...,17947.000,False,NaN,False,216039.000,NaN,216039.000,0,True,False
1,C,A,20130101,2013,52,2013,8,ALB,Albania,X,...,14603.000,False,NaN,False,NaN,118065.000,118065.000,0,True,False
2,C,A,20130101,2013,52,2013,12,DZA,Algeria,M,...,7782.000,True,NaN,False,905673.000,NaN,905673.000,6,True,False
3,C,A,20130101,2013,52,2013,20,AND,Andorra,M,...,2016.800,False,0.0,False,1089921.081,NaN,1089921.081,0,False,True
4,C,A,20130101,2013,52,2013,20,AND,Andorra,X,...,2.000,False,0.0,False,NaN,94.335,94.335,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45330,C,A,20230101,2023,52,2023,854,BFA,Burkina Faso,M,...,11.000,False,0.0,False,9689.481,NaN,9689.481,0,False,True
45331,C,A,20230101,2023,52,2023,858,URY,Uruguay,M,...,804.207,False,0.0,False,328203.840,325790.470,328203.840,0,False,True
45332,C,A,20230101,2023,52,2023,858,URY,Uruguay,X,...,5.075,False,0.0,False,NaN,350.000,350.000,0,False,True
45333,C,A,20230101,2023,52,2023,894,ZMB,Zambia,M,...,5327.050,False,0.0,False,23518.346,3179.989,23518.346,0,False,True
45334,C,A,20230101,2023,52,2023,894,ZMB,Zambia,X,...,257.850,False,0.0,False,NaN,4790.393,4790.393,0,False,True

In [68]:
# mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='A', clCode='HS', period='2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023',
#                                     reporterCode=None, cmdCode='8534,853400,8541,854110,854121,854129,854130,854140,854150,854160,854190,8542,854231,854232,854233,854239,854290,854141,854142,854143,854149,854151,854159', flowCode='M,X',
#                                     partnerCode=None, partner2Code=None, customsCode=None, motCode=None, format_output='JSON',
#                                     aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [104]:
new = mydf[['period', 'reporterISO', 'reporterDesc', 'flowDesc', 'cmdCode', 'cmdDesc', 'primaryValue']]
new.rename(columns={'period': 'Year','reporterISO': 'CountryISO', 'flowDesc': 'FlowDesc', 'reporterDesc': 'Country1', 'cmdCode': 'CmdCode', 'cmdDesc': 'CmdDesc', 'primaryValue':'PrimaryValue'}, inplace=True)
new

C:\Users\JanFearn\AppData\Local\Temp\ipykernel_26424\1043148739.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.rename(columns={'period': 'Year','reporterISO': 'CountryISO', 'flowDesc': 'FlowDesc', 'reporterDesc': 'Country1', 'cmdCode': 'CmdCode', 'cmdDesc': 'CmdDesc', 'primaryValue':'PrimaryValue'}, inplace=True)

,Year,CountryISO,Country1,FlowDesc,CmdCode,CmdDesc,PrimaryValue
0,2013,ALB,Albania,Import,8534,Circuits; printed,216039.000
1,2013,ALB,Albania,Export,8534,Circuits; printed,118065.000
2,2013,DZA,Algeria,Import,8534,Circuits; printed,905673.000
3,2013,AND,Andorra,Import,8534,Circuits; printed,1089921.081
4,2013,AND,Andorra,Export,8534,Circuits; printed,94.335
...,...,...,...,...,...,...,...
45330,2023,BFA,Burkina Faso,Import,854290,Parts of electronic integrated circuits,9689.481
45331,2023,URY,Uruguay,Import,854290,Parts of electronic integrated circuits,328203.840
45332,2023,URY,Uruguay,Export,854290,Parts of electronic integrated circuits,350.000
45333,2023,ZMB,Zambia,Import,854290,Parts of electronic integrated circuits,23518.346
45334,2023,ZMB,Zambia,Export,854290,Parts of electronic integrated circuits,4790.393

In [106]:
# Filter DataFrame for imports
imports = new[new['FlowDesc'] == 'Import']

# Filter DataFrame for exports
exports = new[new['FlowDesc'] == 'Export']

# Group the filtered DataFrames by 'Year' and calculate the sum of 'PrimaryValue' for each year
imports_yearly_total = imports.groupby('Year')['PrimaryValue'].sum()
exports_yearly_total = exports.groupby('Year')['PrimaryValue'].sum()
# Create new DataFrames to store the total import and export values for each year
imports_yearly_total_df = imports_yearly_total.reset_index()
exports_yearly_total_df = exports_yearly_total.reset_index()
# # Rename columns to differentiate between import and export
imports_yearly_total_df.rename(columns={'PrimaryValue': 'GlobalImport'}, inplace=True)
exports_yearly_total_df.rename(columns={'PrimaryValue': 'GlobalExport'}, inplace=True)

# Merge the import and export DataFrames on 'Year'
imex_yearly_total = pd.merge(imports_yearly_total_df, exports_yearly_total_df, on='Year', how='outer')

imex_yearly_total

    Year  GlobalImport  GlobalExport
0   2013  1.470272e+12  1.246389e+12
1   2014  1.510325e+12  1.265865e+12
2   2015  1.507644e+12  1.262593e+12
3   2016  1.552928e+12  1.287855e+12
4   2017  1.777763e+12  1.502856e+12
5   2018  2.007320e+12  1.684625e+12
6   2019  1.986207e+12  1.684557e+12
7   2020  2.167775e+12  1.858300e+12
8   2021  2.747322e+12  2.367340e+12
9   2022  2.922003e+12  2.555736e+12
10  2023  1.879013e+12  1.428902e+12

In [107]:
per = new.groupby(['Year', 'Country1', 'FlowDesc']).agg({'PrimaryValue': 'sum'}).reset_index()
per.rename(columns={'PrimaryValue': 'Value', 'Country1': 'Country2'}, inplace=True)
per

      Year  Country2 FlowDesc         Value
0     2013   Albania   Export  3.336830e+05
1     2013   Albania   Import  5.150237e+06
2     2013   Algeria   Export  1.091270e+05
3     2013   Algeria   Import  1.667200e+08
4     2013   Andorra   Export  2.829741e+06
...    ...       ...      ...           ...
3360  2023   Uruguay   Import  4.214520e+07
3361  2023    Zambia   Export  7.389403e+05
3362  2023    Zambia   Import  3.999450e+06
3363  2023  Zimbabwe   Export  2.311823e+05
3364  2023  Zimbabwe   Import  5.679882e+07

[3365 rows x 4 columns]

In [108]:
new.to_csv('UNTradeforVis.csv', index=False, encoding='utf-8-sig')

In [109]:
imex_yearly_total.to_csv('GlobalUNTrade.csv', index=False, encoding='utf-8-sig')

In [110]:
per.to_csv('perbycountry.csv', index=False, encoding='utf-8-sig')